body{
  justify-content: center;
}

#root {
  text-align: center;
  max-width: 600px;
}

form{
  display:flex;
  flex-direction: column;
  width: 100%;
}

div{
  align-content: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
ul{
  list-style: none;
}
